@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    max-height: 100vh;
    overflow-y: hidden;
}
h1,p{
    text-align: center;
}
.hero-section{
    width: 80%;
    border: 3px solid #334155;
    padding: 3rem 1rem;
    padding-bottom: 7rem;
    border: 2px solid #0D6FFB;
    outline: 3px solid #334155;
    outline-offset: 9px;
    margin: 5rem auto;
} 
.main-bar{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 2.6rem;
    margin-bottom: 1rem;
}
.receive-bar{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.content-bar{
    color:#0D6FFB;
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin: 1.5rem auto
}
.title-bar{
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.article-bar{
    width: 26rem;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    color: black;
}
.signature-bar{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
}